//mobile
.arrow_down__mobile {
  display: none;
}

//

.header {
  font-family: "Forum-Regular";
  font-weight: 100;
  background-color: #3b181e;
  background-image: url("../media/header-bg.jpg");
  background-position: center;
  background-size: cover;
  min-width: 100%;
  overflow: hidden;
  &::before {
    content: "";
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #3b181e, transparent);
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  @media (max-width: 767px) {
    &::before {
      display: none;
    }
  }
}

.socoal_list li a i {
  position: relative;
  bottom: 25px;
}

.header_nav {
  padding: 40px 50px;
  margin-bottom: 100px;
}

.header_link__content {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.header_link__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  & p {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-size: 20px;
  }

  & p::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../media/crown.png");
    background-repeat: no-repeat;
    position: absolute;

    top: -25px;
    left: 40px;
  }
}

.menu_nav {
  text-transform: uppercase;
  font-family: "Forum-Regular";
  position: relative;
  cursor: pointer;
  font-size: 20px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: -25px;
    top: 12px;
    width: 17px;
    height: 2px;
    background-color: #fff;
    cursor: pointer;
    transition: all ease 0.5s;
  }
  @media (max-width: 320px) {
    & {
      position: relative;
      left: 30px;
    }
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -25px;
    top: 3px;
    width: 17px;
    height: 2px;
    background-color: #fff;
    cursor: pointer;
    transition: all ease 0.5s;
  }

  &.active::before {
    content: "";
    display: block;
    position: absolute;
    left: -25px;
    top: 7px;
    width: 17px;
    height: 2px;
    background-color: #fff;
    cursor: pointer;
    transform: rotate(-45deg);
  }
  &.active::after {
    content: "";
    display: block;
    position: absolute;
    left: -25px;
    top: 7px;
    width: 17px;
    height: 2px;
    background-color: #fff;
    cursor: pointer;
    transform: rotate(45deg);
  }

  @media (max-width: 767px) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: -30px;
      top: 14px;
      width: 20px;
      height: 2px;
      background-color: #fff;
      cursor: pointer;
      transition: all ease 0.5s;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -30px;
      top: 5px;
      width: 20px;
      height: 2px;
      background-color: #fff;
      cursor: pointer;
      transition: all ease 0.5s;
    }

    &.active::before {
      content: "";
      display: block;
      position: absolute;
      left: -30px;
      top: 9px;
      width: 20px;
      height: 2px;
      background-color: #fff;
      cursor: pointer;
      transform: rotate(-45deg);
    }
    &.active::after {
      content: "";
      display: block;
      position: absolute;
      left: -30px;
      top: 9px;
      width: 20px;
      height: 2px;
      background-color: #fff;
      cursor: pointer;
      transform: rotate(45deg);
    }
  }
}

.header_main__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  & h1 {
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    letter-spacing: 5px;
  }
  @media (max-width: 767px) {
    & h1 {
      font-size: 50px;
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 50px;
      text-align: center;
      letter-spacing: 5px;
    }
  }
  @media (max-width: 350px) {
    & h1 {
      font-size: 35px;
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 50px;
      text-align: center;
      letter-spacing: 5px;
    }
  }
  & .header_main__button {
    padding: 10px 20px;
    border: 1px solid #e5e5e5;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-transform: uppercase;
    font-family: "Forum-Regular";
    font-size: 15px;
    cursor: pointer;
    transition: all ease 0.5s;
  }
  & .header_main__button:hover {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
  }

  @media (max-width: 767px) {
    & .header_main__button {
      padding: 20px 30px;
      border: 1px solid #e5e5e5;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      text-transform: uppercase;
      font-family: "Forum-Regular";
      cursor: pointer;
      transition: all ease 0.5s;
    }
    & .header_main__button:hover {
      border: 1px solid transparent;
      background-color: rgba(255, 255, 255, 0.5);
      color: #000;
      font-size: 12px;
    }
  }
}

.header_footer {
  margin: 50px 30px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 50px;
  & .mouse_icon {
    position: relative;
    left: 50px;
    top: 20px;
    cursor: pointer;
    transition: all ease 0.5s;
  }

  @media (max-width: 767px) {
    & .mouse_icon {
      display: none;
    }
  }
  & .mouse_icon:hover {
    transform: translateY(10px);
  }
  & .socoal_list {
    list-style: none;
    & .fab {
      padding-bottom: 12px;
      transition: all ease 0.5s;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.7);
      width: 150%;
    }
    & li i:hover {
      color: rgba(255, 255, 255, 1);
      transform: translateX(10px);
    }

    @media (max-width: 767px) {
      & {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 60px;
      }

      & li i {
        padding-left: 45px;
      }
      & li i:hover {
        color: rgba(255, 255, 255, 1);
        transform: translateX(0px);
      }
    }
  }
}

.catalog_btn {
  position: relative;
  bottom: 40px;
  right: 10px;
  font-family: "Forum-Regular";

  transform: rotate(90deg);

  cursor: pointer;
  font-family: "Forum-Regular";

  & p {
    position: relative;
  }

  & .fas {
    position: absolute;
    top: 3px;
    right: -30px;
    transform: rotate(90deg);
    transition: all 0.4s ease;
  }
  & p:hover i {
    right: -35px;
  }

  & a {
    text-decoration: none;
    color: #fff;
  }

  @media (max-width: 767px) {
    & p {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .arrow_down__mobile {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    align-self: center;
    transform: rotate(180deg);
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .header_footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 80px;
  }
}
