.main {
  padding-top: 200px;
  background-color: #3b181e;
  font-family: Forum-Regular;
  position: relative;
  &__catalog {
    width: 1520px;
    margin: 0 auto;
    position: relative;
    &::before {
      position: absolute;
      content: 'Каталог услуг';
      text-align: center;
      left: -4%;
      top: 15px;
      width: 1660px;
      font-size: 220px;
      font-weight: 400;
      line-height: 243px;
      letter-spacing: 0.05em;
      color: #fff;
      opacity: .03;
      text-transform: uppercase;
    }
  }
  &__catalog-title {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.06em;
    margin: 0 auto;
    margin-top: 10px; 
    margin-bottom: 115px;
    text-transform: uppercase;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 85px;
      height: 2px;
      background-color: #fff;
      bottom: -20px;
      right: 47%;
    }
  }
  &__catalog-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  &__catalog-item {
    width: 350px;
    height: 470px;
    padding: 10px;
    box-sizing: border-box;
    transition: all .5s;
    &:hover {
      outline: 1px solid rgba(#fff, .2);
    }
  }
  &__catalog-item:hover {
    
    .main__catalog-card {
      
      &::before {
        transition: all .5s;
        background-color: rgba(#000, .6);
      }
    }
    .main__catalog-btn {
      transition: all .5s;
      display: inline-block;
    }
  }
  &__catalog-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0);
      z-index: 0;
    }
  }
  &__catalog-card-title {
    margin-top: auto;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 170%;
    text-transform: uppercase;
    position: relative;
  }
  &__catalog-btn {
    text-align: center;
    margin-top: 20px;
    padding: 18px 30px 19px 30px;
    width: 200px;
    height: 50px;
    color: #000;
    font-family: Forum;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    background-color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    display: none;
    position: relative;
  }
  &__catalog-card--one {
    background-image: url("../media/catalog-photo-1.jpg");
    .main__catalog-card-num {
      text-align: right;
      &::after {
        left: 0;
      }
    }
  }
  &__catalog-card--two {
    background-image: url("../media/catalog-photo-2.jpg");
  }
  &__catalog-card--three {
    background-image: url("../media/catalog-photo-3.jpg");
  }
  &__catalog-card--four {
    background-image: url("../media/catalog-photo-4.jpg");
  }
  &__catalog-card-num {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    position: relative;
    width: 100px;
    &::after {
      position: absolute;
      content: "";
      width: 70px;
      height: 1px;
      background-color: #fff;
      right: 0;
      bottom: 5px;
    }
  }
  &__catalog-toggles {
    display: none;
    width: 140px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }
  &__catalog-toggle {
    width: 62px;
    height: 3px;
    border-radius: 50px;
    background-color: #fff;
    opacity: .3;
    border: none;
  }
  &__catalog-toggle--active {
    opacity: 1;
  }

  &__proposition {
    padding: 170px 370px;
    display: flex;
    justify-content: space-between;
  }
  &__proposition-title {
    width: 220px;
    margin-top: 65px;
    color: #fff;
    font-weight: normal;
    font-size: 30px;
    line-height: 170%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      bottom: -15px;
      left: 0;
      width: 85px;
      height: 2px;
      background-color: #fff;
    } 
  }
  &__proposition-text {
    width: 350px;
    margin-top: 42px;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
  }
  &__proposition-btn {
    display: block;
    text-align: center;
    padding: 17px 30px 15px 30px;
    width: 220px;
    margin-top: 42px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #000;
    box-sizing: border-box;
    transition: all .5s;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

@media (min-width: 2559px) {
  .main__proposition {
    padding: 170px 580px;
  }
}

@media (max-width: 1696px) {
  .main__catalog {
    width: 1400px;
    &::before {
      width: 1520px;
      font-size: 200px;
    }
  }
  .main__catalog-item {
    width: 320px;
    height: 440px;
  }
  .main__proposition {
    padding: 170px 250px;
  }
}

@media (max-width: 1560px) {
  .main__catalog {
    width: 1320px;
    &::before {
      width: auto;
      font-size: 170px;
      left: 2%;
    }
  }
  .main__catalog-item {
    width: 300px;
    height: 420px;
  }
  .main__proposition {
    padding: 170px 220px;
  }
}

@media (max-width: 1400px) {
  .main__proposition {
    padding: 170px 170px;
  }
}

@media (max-width: 1320px) {
  .main__catalog {
    width: 1000px;
    &::before {
      width: auto;
      font-size: 125px;
      left: 4%;
    }
  }
  .main__catalog-item {
    width: 240px;
    height: 350px;
  }
  .main__proposition {
    padding: 150px 150px;
  }
  .main__proposition-img {
    width: 453px;
    height: 323px;
  }
  .main__proposition-title {
    margin-top: 25px;
  }
}

@media (max-width: 1024px) {
  .main {
    padding-top: 100px;
    &__catalog {
      width: 685px;
      &::before {
        width: auto;
        font-size: 125px;
        left: 4%;
      }
      &::before {
        display: none;
      }
    }

    &__catalog-title {
      margin-bottom: 55px;
      &::after {
        right: 44%;
      }
    }

    &__catalog-item {
      width: 330px;
      height: 450px;
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }

    &__catalog-toggles {
      display: flex;
      justify-content: space-between;
    }
    &__catalog-toggle {
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }

    &__proposition {
      padding: 100px 100px;
      flex-direction: column;
      text-align: center;
    }

    &__proposition-left {
      order: 2;
    }

    &__proposition-img {
      width: 453px;
      height: 323px;
    }

    &__proposition-title {
      width: auto;
      margin-top: 25px;
      &::after {
        left: 44%;
      }
    }
    &__proposition-text {
      margin: 0 auto;
      margin-top: 42px;
    }
    &__proposition-btn {
      margin: 0 auto;
      margin-top: 42px;
    }
  }
}

@media (max-width: 475px) {
  .main {
    &__catalog {
      width: 288px;
    }
    &__catalog-title {
      text-align: left;
      font-size: 20px;
      margin-bottom: 30px;
      &::after {
        display: none;
      }
    }
    &__catalog-card {
      width: 288px;
    }
    &__catalog-item {
      padding: 0;
      height: 392px;
      &:nth-child(2) {
        display: none;
      }
    }
    &__catalog-toggles {
      width: 100%;
    }
    &__catalog-toggle {
      &:nth-child(3),
      &:nth-child(4) {
        display: inline;
      }
    }


    &__proposition {
      width: 288px;
      margin: 0 auto;
      padding: 100px 0;
    }
    &__proposition-title {
      width: 155px;
      font-size: 20px;
      text-align: left;
      &::after {
        left: 0;
      }
    }
    &__proposition-text {
      width: 260px;
      text-align: left;
      margin-left: 0;
    }
    &__proposition-img {
      width: 288px;
      height: 170px;
    }
    &__proposition-btn {
      margin-left: 0;
    }
  }
}
