.main {
  padding-top: 200px;
  background-color: #3b181e;
  font-family: Forum-Regular;
  position: relative;
  &__bg-title {
    display: none;
  }

  &__catalog {
    width: 1520px;
    margin: 0 auto;
  }
  &__catalog-title {
    width: 230px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: 0.06em;
    margin: 0 auto;
    margin-bottom: 115px;
    text-transform: uppercase;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 85px;
      height: 2px;
      background-color: #fff;
      bottom: -20px;
      right: 32%;
    }
  }
  &__catalog-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  &__catalog-item {
    width: 350px;
    height: 470px;
    padding: 10px;
    box-sizing: border-box;
  }
  &__catalog-card {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
  }
  &__catalog-card--one {
    background-image: url("../media/catalog-photo-1.jpg");
  }
  &__catalog-card--two {
    background-image: url("../media/catalog-photo-2.jpg");
  }
  &__catalog-card--three {
    background-image: url("../media/catalog-photo-3.jpg");
  }
  &__catalog-card--four {
    background-image: url("../media/catalog-photo-4.jpg");
  }
  &__catalog-card-num {
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    position: relative;
  }
}
