.popup__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  display: none;
  box-sizing: border-box;
  justify-content: center;
  transition: all 0.7s ease;
  & .popup__block {
    display: flex;
    background-color: #3b181e;
    align-self: center;
    position: relative;
    align-items: center;
    width: 600px;
    height: 393px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    margin: 0 auto;
    & .popup__img {
      position: relative;
      padding: 0;
    }

    & img {
      width: 293px;
      height: 393px;
      margin-top: 3px;
    }
    & .popup__form_text {
      text-align: center;
      color: #fff;
      font-family: "Forum-Regular";
      font-weight: 100;
    }
    & .popup__form form {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 90%;
      margin: 20px 20px;
      margin-top: 60px;
      & .popup__input {
        margin-bottom: 30px;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 200px;
        border: none;
        padding: 10px;
        background-color: transparent;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.5);
        outline: none;
        &:active,
        &:focus {
          border: 1px solid rgba(255, 255, 255, 1);
        }
      }

      & .popup__submit_btn {
        border: none;
        padding: 10px;
        width: 220px;
        margin: 0 auto;
        cursor: pointer;
        transition: all 0.4s;
        background-color: rgba(255, 255, 255, 0.7);
        &:active,
        &:focus,
        &:hover {
          background: rgba(255, 255, 255, 1);
        }
      }
    }
    & .popup__close {
      position: absolute;

      top: 2px;
      right: 5px;
      color: rgba(255, 255, 255, 0.5);
      transition: all ease 0.2s;
      cursor: pointer;
      &:focus,
      &:hover,
      &:active {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.popup__container__close {
  display: none;
}

.popup__container__active {
  display: flex !important;
}
