.popap__container_wrap {
  width: 100%;
  font-family: "Forum-Regular";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #3b181e;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  transition: all 0.5s ease-in-out;
  & .popap__container__burger {
    z-index: 4;
    position: relative;
    top: 0px;
    width: 100%;
    overflow: hidden;
    height: 100%;
  }

  & .popup__top_block {
    color: #fff;
    font-weight: 100;
    margin-top: 50px;
    & p {
      font-size: 18px;
      font-weight: 100;
      line-height: 21px;
      text-transform: uppercase;
    }
  }

  & .popap__bottom_block {
    margin-top: 100px;
    @media (max-width: 767px) {
      & {
        margin-top: 0px;
      }
    }

    & .popup__bottom_list {
      list-style: none;

      & .selected-li {
        color: white;
        font-size: 30px;
        font-weight: 100;
        text-transform: uppercase;
      }
      & a {
        text-decoration: none;
        color: rgba($color: #ffffff, $alpha: 0.5);
        font-size: 20px;
        font-weight: 100;
        text-transform: uppercase;
        transition: 0.5;
      }

      & a:hover,
      & a:active,
      & a:focus {
        color: rgba($color: #ffffff, $alpha: 1);
      }

      & li {
        padding-top: 50px;
      }
    }
  }

  &__active {
    display: flex !important;
  }
}

.lockScroll {
  overflow: hidden;
}
