@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "fonts";

* {
  margin: 0;
  padding: 0;
}

.header {
  border: 2px solid red;
  font-family: "Forum-Regular";
  font-weight: 100;
  background-image: url("../media/header-bg.jpg");
  background-size: cover;
}

.header_nav {
  padding: 50px;
  margin-bottom: 100px;
}

.header_link__content {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.header_link__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  & p {
    color: #fff;
    text-transform: uppercase;
  }
}

.menu_nav {
  text-transform: uppercase;
  font-family: "Forum-Regular";
  position: relative;
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: -25px;
    top: 12px;
    width: 15px;
    height: 2px;
    background-color: #fff;
    cursor: pointer;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -25px;
    top: 3px;
    width: 15px;
    height: 2px;
    background-color: #fff;
    cursor: pointer;
  }
}

.header_main__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  & h1 {
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 50px;
    text-align: center;
    letter-spacing: 5px;
  }

  & .header_main__button {
    padding: 10px 20px;
    border: 1px solid #e5e5e5;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-transform: uppercase;
    font-family: "Forum-Regular";
    cursor: pointer;
    transition: all ease 0.5s;
  }
  & .header_main__button:hover {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
  }
}

.header_footer {
  margin: 50px 30px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 50px;
  & .mouse_icon {
    position: relative;
    left: 50px;
    top: 20px;
    cursor: pointer;
    transition: all ease 0.5s;
  }
  & .mouse_icon:hover {
    transform: translateY(10px);
  }
  & .socoal_list {
    list-style: none;
    & li {
      padding-bottom: 12px;
    }
  }
}

.catalog_btn {
  position: relative;
  bottom: 40px;
  transform: rotate(90deg);
  cursor: pointer;
  font-family: "Forum-Regular";

  & p {
    position: relative;
  }

  & i {
    position: absolute;
    top: 0;
    right: -30px;
    transform: rotate(90deg);
    transition: all 0.4s ease;
  }
  & p:hover + i {
    right: -35px;
  }
}
